---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { SESSION } from "@consts";

const sessions = await getCollection("sessions");
---

<PageLayout title={SESSION.TITLE} description={SESSION.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Sessions
      </div>
      <div class="space-y-4">
        <section class="animate space-y-4">
          <div>
            <ul class="flex flex-col gap-4">
              {
                sessions.map((session) => (
                  <li>
                    <ArrowCard entry={session} />
                  </li>
                ))
              }
            </ul>
          </div>
        </section>
      </div>
    </div>
  </Container>
</PageLayout>
